
@{
    ViewBag.Title = "essam3";

   @*ViewData["Name"];*@
}

<h2>essam3</h2>

@ViewData["Name"]
<br />
@ViewData["Desc"]

<h1>

    Now this is 
    <span style="color:red;">
        @ViewBag.Name

    </span>
    <br />
    And this is the ViewBack description
    <span style="color:red;">
        @ViewBag.Desc
    </span>
    <br />
    @ViewBag.No
</h1>



